<button class="button-back" routerLink="">Back</button>
<form [formGroup]="myForm" class="formBody">
  Value: {{ myForm.value | json }}
  <hr>

  <div *ngIf="showID">
    <mat-form-field *ngIf="showID">
      <input matInput placeholder="Study ID" formControlName="studyID">
    </mat-form-field>
    <br>
  </div>
 
  <div *ngIf="showName">
    <mat-form-field>
      <input matInput placeholder="Name" formControlName="name">
    </mat-form-field>
    <br>
  </div>

  <div *ngIf="showBirthday">
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Select/Enter your DOB" formControlName="dateOfBirth">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <br>
  </div>
    
  <div *ngIf="showSex">
    <p>Sex: </p> 
    <mat-radio-group formControlName="sex">
      <mat-radio-button value="female">Female</mat-radio-button>
      <mat-radio-button value="male">Male</mat-radio-button>
    </mat-radio-group>  
  </div>

</form>

<div>
  <button class="button-start" routerLink="/app-session">Start Session</button>
</div>
