<a routerLink="">Back</a>
<h1 style="text-align:center">Settings</h1>
Study ID
<mat-slide-toggle
    [color]="color"
    [checked]="checked"
    [disabled]="disabled">
</mat-slide-toggle>
<br>

Name
<mat-slide-toggle
    [color]="color"
    [checked]="checked"
    [disabled]="disabled">
</mat-slide-toggle>
<br>

Birthday
<mat-slide-toggle
    [color]="color"
    [checked]="checked"
    [disabled]="disabled">
</mat-slide-toggle>
<br>

Sex
<mat-slide-toggle
    [color]="color"
    [checked]="checked"
    [disabled]="disabled">
</mat-slide-toggle>
<br>


