<a routerLink="">Back</a>
<h1 style="text-align:center">Settings</h1>
Study ID
<mat-slide-toggle
    [color]="color"
    [checked]="showID"
    [disabled]="disabled"
    (click)="changeShowID()"
>
</mat-slide-toggle>
<br>

Name
<mat-slide-toggle
    [color]="color"
    [checked]="showName"
    [disabled]="disabled"
    (click)="changeShowName()">
</mat-slide-toggle>
<br>

Birthday
<mat-slide-toggle
    [color]="color"
    [checked]="showBirthday"
    [disabled]="disabled"
    (click)="changeShowBirthday()">
</mat-slide-toggle>
<br>

Sex
<mat-slide-toggle
    [color]="color"
    [checked]="showSex"
    [disabled]="disabled"
    (click)="changeShowSex()">
</mat-slide-toggle>
<br>


